.logininfo{
text-align: right;
}
.searchbox{
text-align: center;

}
.sideheader{
    text-align: right;
}
.sidebar{
    text-align: right;
}
.pic{
    text-align: right;
}
.note{
    text-anchor: start;
}